<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <a class="navbar-brand">
    <img src="../images/cld_ico1.png" width="50" height="50" />
    <span>Bus Cloud</span>
  </a>
  {{#if _userId}}
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/logout">Log Out</a></li>
  </ul>
  {{/if}}
</nav>
