<div class="row vendor">
  <div class="col-lg-4 col-md-6">
    <a href="/monitor">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-9 text-right">
                      <div class="medium">Sensor Monitoring</div>
                  </div>
                  <div class="col-xs-3">
                      <i class="fa fa-bar-chart-o fa-3x"></i>
                  </div>
              </div>
          </div>
      </div>
    </a>
  </div>
  <!-- End of Sensor Monitoring -->
  <div class="col-lg-4 col-md-6">
    <a href="/metering">
      <div class="panel panel-green">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-9 text-right">
                      <div class="medium">Sensor Metering</div>
                  </div>
                  <div class="col-xs-3">
                      <i class="fa fa-bar-chart-o fa-3x"></i>
                  </div>
              </div>
          </div>
      </div>
    </a>
  </div>
  <!--  End of Sensor Metering-->
  <div class="col-lg-4 col-md-6">
    <a href="/hosts">
      <div class="panel panel-yellow">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-9 text-right">
                      <div class="medium">Register Vehicle</div>
                  </div>
                  <div class="col-xs-3">
                      <i class="fa fa-wrench fa-3x"></i>
                  </div>
              </div>
          </div>
      </div>
    </a>
  </div>
</div>
<!-- /.row End of First Row -->
<div class="row">
  <div class="col-lg-4 col-md-6">
    <a href="/vsensors">
      <div class="panel panel-yellow">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-9 text-right">
                      <div class="medium">Manage Sensor</div>
                  </div>
                  <div class="col-xs-3">
                      <i class="fa fa-wrench fa-3x"></i>
                  </div>
              </div>
          </div>
      </div>
    </a>
  </div>
  <!-- End of Manage Sensor -->
  <div class="col-lg-4 col-md-6">
    <a href="/create">
      <div class="panel panel-red">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-9 text-right">
                      <div class="medium">Provision Sensor</div>
                  </div>
                  <div class="col-xs-3">
                      <i class="fa fa-wrench fa-3x"></i>
                  </div>
              </div>
          </div>
      </div>
    </a>
  </div>
  <!-- End of Sensor Monitoring -->
  <div class="col-lg-4 col-md-6">
    <a href="/billings">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                  <div class="col-xs-9 text-right">
                      <div class="medium">Billing Details</div>
                  </div>
                  <div class="col-xs-3">
                      <i class="fa fa-dashboard fa-3x"></i>
                  </div>
              </div>
          </div>
      </div>
    </a>
  </div>
  <!--  End of Sensor Metering-->
</div>

<!-- End of Second Row -->
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
       <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Registered Vehicle
       </div>
       <div class="panel-body">
          <div id="morris-donut-chart"></div>
          <!-- <a href="#" class="btn btn-default btn-block">View Details</a> -->
       </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
       <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Registered Sensors
       </div>
       <div class="panel-body">
          <div id="morris-donut-chart1"></div>
          <!-- <a href="#" class="btn btn-default btn-block">View Details</a> -->
       </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Billing Amount
      </div>
    <div class="panel-body">
        <div id="morris-bar-chart"></div>
        <!-- <a href="#" class="btn btn-default btn-block">View Details</a> -->
    </div>
  </div>
</div>
