<link rel="stylesheet" type="text/css" href="../css/dashboard.css">
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDJYFwjsXej__9jqM2jKXz00Egc128-LKA"></script>
{{> leftrail}}
<div class="right" ng-controller="dashboardController" ng-init="init()">
  <div id="page-wrapper">
    <div class="heading-section">
      <h3>Dashboard</h3>
    </div>
    <!-- Dashboard Heading End -->
    {{#equal _role "admin"}}
      {{> admin_panel}}
    {{/equal}}
    {{#equal _role "vendor"}}
      {{> vendor_panel}}
    {{/equal}}
    {{#equal _role "customer"}}
      {{> customer_panel}}
    {{/equal}}
    <!-- Maps -->
    <div class="col-lg-12" style="padding-bottom:50px">
    <div>
       <div id="map"></div>
    </div>
    </div>
  </div>
  <!--  End of Third Row-->
</div>
<script src="../js/controllers/dashboard.js"></script>
