<link rel="stylesheet" type="text/css" href="../css/instances.css">
{{> leftrail}}
<div class="right" ng-controller="hubsController">
  <div class="heading-section">
    <h3>Available Hubs</h3>
    <p>You are using the following hubs</p>
  </div>
</div>
<script src="../js/controllers/hubs.js"></script>
